* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 30px;
}

nav ul li:hover {
  transition: text-decoration 1000ms ease;
  text-decoration: underline;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 1.5rem;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
}
